<div class="container" align = "center" style="margin-top: 40px">
	<%= link_to "Single Semester Calculation", {controller: "static_pages", action: "semester"}, class: "btn btn-primary btn-lg " %>
	<%= link_to "All Semester Calculation", "#", class: "btn btn-success btn-lg " %>
</div>
