<div>
      <label for="selRow"> Select No of Subject:  </label>
      <%= select_tag(:selRow, options_for_select([0,1,2,3,4,5,6,7,8,9,10]), class: 'form-control') %>
</div>
    <br><br>
<div>
  <table id="tbl" class="table table-bordered" > 
    <tr> 
       <th>#</th>
       <th>Internal Marks</th>
       <th>External Marks</th>
       <th>Credit Hours</th>
       <th>Total</th>
       <th>GRADE</th>
       <th>Credit Points</th>
       </tr>
       <tbody id='tblebody'> 

       </tbody>
  </table>
    
  <div id = 'result_container' class = 'container' > 
    <label for = 'res_gpa' > GPA: </label>
    <input id = "res_gpa" type="text" class="form-control" style ='width: 18%' readonly />
  </div>
  <hr>    
  <div id = 'btn_container' class = "container" > 
    <button id = "btn_calculate" type="button" class="btn btn-success"  >Calculate</button>
    <!--  <button id = "btn_clear" type="button" class="btn btn-warning">Clear</button> -->
  </div>
</div>


<%= javascript_include_tag "calculate" %>

