<% provide(:page_title, "Student List") %>
<% provide(:page_header, "Student List")  %>
<% provide(:page_header_description, "Registered Students")  %>

<div class="box">
    <div class="box-header">
      <h3 class="box-title">Data Table With Full Features</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table id="all_student_list_table" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Reg No</th>
            <th>Name</th>
            <th>Department</th>
            <th>State</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        
        </tbody>
        
        
      </table>
    </div><!-- /.box-body -->
 </div><!-- /.box -->  

 <script type="text/javascript">
      $(function () {
        // $("#example1").DataTable();
        $('#all_student_list_table').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>