<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="#" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>SAU</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>SAU</b> Management</span>
  </a>
  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
    <div class="pull-right">
      <a href="sessions/destroy" class="logo">
          <span class="logo-mini"><i class="fa fa-sign-out"></i></span>
          <span class="logo-lg"><b>LOG OUT</b></span>
      </a>
      
    </div>
      
  </nav>
</header>