<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
        <%= link_to "Calculator", "#"  %>
        </li>
        <li>
       	<%= link_to "Single Semester", {controller: "static_pages", action: "semester"}  %>
        </li>
        <li>
        <%= link_to "All Semester", {controller: "static_pages", action: "all"}  %>
        </li>
        <li>
        <%= link_to "Log Out", {controller: "sessions", action: "destroy"}  %>
        </li>
           
    </ul>
</div>
<!-- /#sidebar-wrapper -->